<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Homepage</title>
</head>
<div class="container fo" th:fragment="content">
    <div class="row">
        <h3 th:inline="text">HOME</h3>
    </div>
    
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />
  
    	<div class="row">
         <!--  <form id="search" class="form-horizontal">
            <div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.imei}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.user.keyword}" autofocus="autofocus"/>
                </div>
            </div>
            <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.status}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="a">
                        <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
                        <option th:each="statusGroup : ${statusGroup}" th:value="${statusGroup}" th:text="${statusGroup}"></option>
                    </select>
                </div>
            </div> 
            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>             

        </form>
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>                
                	<th th:inline="text">[[#{label.terminal.imei}]]</th>
                    <th th:inline="text">[[#{label.terminal.status}]]</th>
                    <th th:inline="text">[[#{label.terminal.loan}]]</th>
                    <th th:inline="text">[[#{label.terminal.mm}]]</th>            
                    <th th:inline="text">[[#{label.terminal.pdk}]]</th>           
                    <th th:inline="text">[[#{label.terminal.pm}]]</th>           
                    <th th:inline="text">[[#{label.terminal.sda}]]</th>           
                    <th th:inline="text">[[#{label.terminal.sentra}]]</th>           
                    <th th:inline="text">[[#{label.terminal.survey}]]</th>           
                    <th th:inline="text">[[#{label.terminal.sw}]]</th>      
                    <th th:inline="text">[[#{label.terminal.total}]]</th> 
                </tr>
            </thead>
            <tbody></tbody>
        </table> -->
        
         <form id="search1" class="form-horizontal">
            <div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.user.keyword}" autofocus="autofocus"/>
                </div>
            </div>
            <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.status}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="a">
                        <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
                        <option th:each="statusGroup : ${statusGroup}" th:value="${statusGroup}" th:text="${statusGroup}"></option>
                    </select>
                </div>
            </div> 
            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>             

        </form>
          <table id="table1" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>                
                	<th th:inline="text">[[#{label.username}]]</th>
                	<th th:inline="text">[[#{label.wisma}]]</th>
                    <th th:inline="text">[[#{label.terminal.status}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
    </div>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
          /*   var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('imei');
                        d.a=$('#table').data('statusGroup');
                    },
                    url:/*[[@{/home/list}]]*/'
                }, */
//                columnDefs:[
//                    {"orderable":false,"targets":3}
//                ],
               // lengthChange:false,
              /*   ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true */
           // }); 
            
            var table=$('#table1').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table1').data('keyword');
                        d.a=$('#table1').data('statusGroup');
                    },
                    url:/*[[@{/home/list}]]*/'
                },
//                columnDefs:[
//                    {"orderable":false,"targets":3}
//                ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
         /*    $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('imei', $('#q').val());
                $('#table').data('statusGroup', $('#a').val());
                table.ajax.reload();
                return false;
            }); */
            $('#search1').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table1').data('keyword', $('#q').val());
                $('#table1').data('statusGroup', $('#a').val());
                table.ajax.reload();
                return false;
            });
        });
    </script>
    <script th:src="@{/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}" ></script>
</div>
</html>