<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Message Logs List</title>
</head>
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.css}" />
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel"></h4>
           </div>
           <div class="modal-body">
             <strong>Tanggal Mulai tidak boleh lebih dari Tanggal Akhir</strong>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
       </div>
      </div>
    </div>
    
    
	<style type="text/css">
	#table {
	margin: 0 auto;
	clear: both;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;	
	}
	</style>
    
    <div class="row">
        <h3 th:inline="text">[[#{label.terminal.activity.message}]]</h3>

        <form id="search" class="form-horizontal" th:object="${messageLogs}">
        

            </form>
      
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="" style="white-space: normal">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.message.time}]]</th>
                    <th th:inline="text">[[#{label.message.endpoint}]]</th>  
                    <th th:inline="text">[[#{label.message.req}]]</th>  
                    <th th:inline="text">[[#{label.message.message}]]</th> 
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
       <div class="form-group">
	         	<div class="col-xs-12 text-right">
	         		<!-- <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button> -->                    
                    <a class="btn btn-primary" th:inline="text" th:onclick="'javascript:window.history.back()'">[[#{label.back}]]</a>
                </div>
       </div>
        
        
        </div>
        
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery-ui.custom.js}"></script> 
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>      
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                        d.terminalActivityId=[[${terminalActivityId}]];  
                        d.date=[[${date}]];  
                        var date = new Date();
                    },
                    url:/*[[@{/home/terminal/show-details/get-list-message-details}]]*/'
                },
                autoWidth: false,
                columns : [
                    { width : '15%' },
                    { width : '10%' },
                    { width : '5%' },
                    { width : '70%' }
                  ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true,
                overflow :true
            });
            
            /*
            $(function(){           
                if (!Modernizr.inputtypes.date) {
                // If not native HTML5 support, fallback to jQuery datePicker
                    $('input[type=date]').datepicker({
                        // Consistent format with the HTML5 picker
                            dateFormat : 'yyyy-mm-dd',
                            autoclose : true,
                            clearBtn : true
                        }
                    );
                }
            });
            
            
            $('#sandbox-container .input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayBtn: true,
                clearBtn: true,
                autoclose: true,
                todayHighlight: true
            });
           
          
             $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                var terminalActivityId = [[${terminalActivityId}]];
                var startDate = $("#c").val();
                var endDate = $("#b").val();
                var startDateCmp = Date.parse(startDate);
                var endDateCmp = Date.parse(endDate);
                if(startDateCmp > endDateCmp){
                	$('#myModal').modal('show'); 
                }else{
                	$('#table').data('keyword', $('#q').val());
                    $('#table').data('terminalActivityId', terminalActivityId);
                    $('#table').data('startDate', startDate);
                    $('#table').data('endDate',endDate );
                   	table.ajax.reload();
                }
                
                return false;
            }); */
        });
    </script>
    </div>
</html>

