<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Report List</title>
</head>
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.css}" />

    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery-ui.custom.js}"></script> 
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>         
    <script th:src="@{/js/modernizr-custom.js}"></script>   
    <script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}"></script>
    <script th:src="@{/js/plugin/jquery-validate/additional-methods.min.js}"></script>
  <script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
        $(document).ready(function(){
            $('#datepicker').datepicker({
                format: "yyyy-mm-dd",
                todayBtn: true,
                clearBtn: true,
                autoclose: true,
                todayHighlight: true,
                orientation: "bottom auto"
            });
           
            $('#kfo').ready(function() {
                var data = "";
                $.ajax({
                    type:"GET",
                    url : [[@{/home/manage/report/generateReportRmk/ajaxGetMms}]],
                    data : "kfo="+$('#kfo').val(),
                    async: false,
                    success : function(response) {
                        data = response;
                        $('#mms').empty();
                        return response;
                    },
                    error: function() {
                        alert('Error occured');
                    }
                });
                $.each(data, function(i,item){
                    // Create and append the new options into the select list
                    $("#mms").append("<option value="+item.locationId+">"+item.name+"</option>");
                });
           	 	$('#kfo option:selected').each(function() {
           		 	$('#rmkKfoName').val($(this).text());
           		 	$('#rmkKfoLocationId').val($(this).val());
           		 	$('#dmkKfoName').val($(this).text());
           		 	$('#dmkKfoLocationId').val($(this).val());
           	 	});
           	 	$('#mms option:selected').each(function() {
        			$('#rmkMmsName').val($(this).text());
        			$('#rmkMmsLocationId').val($(this).val());
        			$('#dmkMmsName').val($(this).text());
        			$('#dmkMmsLocationId').val($(this).val());
           	 	});
           	 	$('#extType option:selected').each(function() {
        			$('#rmkExtType').val($(this).val());
        			$('#dmkExtType').val($(this).val());
           	 	});
            });

            $('#kfo').change(function() {
           		var data = "";
                $.ajax({
                    type:"GET",
                    url : [[@{/home/manage/report/generateReportRmk/ajaxGetMms}]],
                    data : "kfo="+$('#kfo').val(),
                    async: false,
                    success : function(response) {
                        data = response;
                        $('#mms').empty();
                        return response;
                    },
                    error: function() {
                        alert('Error occured');
                    }
                });
                $.each(data, function(i,item){
                    // Create and append the new options into the select list
                    $("#mms").append("<option value="+item.locationId+">"+item.name+"</option>");
                });
           	 	$('#kfo option:selected').each(function() {
           		 	$('#rmkKfoName').val($(this).text());
           		 	$('#rmkKfoLocationId').val($(this).val());
           		 	$('#dmkKfoName').val($(this).text());
           		 	$('#dmkKfoLocationId').val($(this).val());
           	 	});
            });
            
            $('#mms').change(function() {
           		$('#mms option:selected').each(function() {
            		$('#rmkMmsName').val($(this).text());
            		$('#rmkMmsLocationId').val($(this).val());
            		$('#dmkMmsName').val($(this).text());
            		$('#dmkMmsLocationId').val($(this).val());
            	});
    		});
            
            $('#c').change(function() {
            	$('#rmkInputDate').val($('#c').val());
            	$('#dmkInputDate').val($('#c').val());
    		});

            $('#extType').change(function() {
           	 	$('#extType option:selected').each(function() {
        			$('#rmkExtType').val($(this).val());
        			$('#dmkExtType').val($(this).val());
           	 	});
    		});
        });
        /*]]>*/
    </script>
    <div class="row">
        <h3 th:inline="text">[[#{label.manage.report.title}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <form id="search1" class="form-horizontal">
            <div class="form-group">
                <label for="kfo" class="col-sm-4 control-label" th:inline="text">[[#{label.report.kfo}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="kfo" name="kfo">
                        <option th:each="kfo : ${kfoList}" th:value="${kfo.locationId}" th:text="${kfo.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="mms" class="col-sm-4 control-label" th:inline="text">[[#{label.report.mms}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="mms" name="mms">
                        <option th:each="mms : ${mmsList}" th:value="${mms.locationId}" th:text="${mms.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.periodDate}]]</label>
                <div class="col-sm-8" id="sandbox-container">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" id="c" name="trxDate" th:value="${trxDate}" onkeydown="return false" th:required="required"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="mms" class="col-sm-4 control-label" th:inline="text">Tipe</label>
                <div class="col-sm-8">
                    <select class="form-control" id="extType" name="extType">
                        <option>PDF</option>
                        <option>CSV</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
   	    <form method="POST" th:object="${reportForm}" th:action="@{/home/manage/report/generateReportRmk}" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-6 text-right">
            <input type="hidden" id="rmkKfoName" th:field="*{kfoName}" />
            <input type="hidden" id="rmkKfoLocationId" th:field="*{kfoLocationId}" />
            <input type="hidden" id="rmkMmsName" th:field="*{mmsName}" />
            <input type="hidden" id="rmkMmsLocationId" th:field="*{mmsLocationId}" />
            <input type="hidden" id="rmkInputDate" th:field="*{inputDate}" />
            <input type="hidden" id="rmkExtType" th:field="*{extType}" />
            <button id="sendRmk" type="submit" class="btn btn-primary">RMK</button>
                </div>
            </div>
        </form>

   	    <form method="POST" th:object="${reportForm}" th:action="@{/home/manage/report/generateReportDmk}" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-6 text-right">
            <input type="hidden" id="dmkKfoName" th:field="*{kfoName}" />
            <input type="hidden" id="dmkKfoLocationId" th:field="*{kfoLocationId}" />
            <input type="hidden" id="dmkMmsName" th:field="*{mmsName}" />
            <input type="hidden" id="dmkMmsLocationId" th:field="*{mmsLocationId}" />
            <input type="hidden" id="dmkInputDate" th:field="*{inputDate}" />
            <input type="hidden" id="dmkExtType" th:field="*{extType}" />
		    <button id="sendDmk" type="submit" class="btn btn-primary">DMK</button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>