<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>User List</title>
</head>
      
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
   
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><th th:inline="text">[[#{label.manage.user.confirmation.disable}]]</th></h4>
      </div>
      <div class="modal-body">
      		<label for="bodyMessage" class="control-label"/>
      		<input type="text" class="form-control" id="lockDuration" name="lockDuration" maxlength="30"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><th th:inline="text">[[#{label.close}]]</th></button>
        <a th:href="@{/home/manage/user/add}" class="btn btn-primary" role="button" th:inline="text" name="modalSubmit" id="modalSubmit">[[#{label.next}]]</a>
      </div>
    </div>
  </div>
</div>
    
    <div class="row">
        <h3 th:inline="text">[[#{label.manage.user}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <form id="search" class="form-horizontal">
            <div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.user.keyword}" autofocus="autofocus"/>
                </div>
            </div>
            <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.role}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="a">
                        <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
                        <option th:each="role : ${roles}" th:value="${role.authority}" th:text="${role.authority}"></option>
                    </select>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-left">
                    <a th:href="@{/home/manage/user/add}" class="btn btn-success" role="button" th:inline="text">[[#{label.add}]]</a>
                </div>
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>            

        </form>
        <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.username}]]</th>
                    <th th:inline="text">[[#{label.email}]]</th>
                    <th th:inline="text">[[#{label.role}]]</th>
                    <th th:inline="text">[[#{label.name}]]</th>
                    <th th:inline="text">[[#{label.action}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                        d.a=$('#table').data('authority');
                    },
                    url:/*[[@{/home/manage/user/get-list}]]*/''
                },
//                columnDefs:[
//                    {"orderable":false,"targets":3}
//                ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                $('#table').data('authority', $('#a').val());
                table.ajax.reload();
                return false;
            });
            $("#modalSubmit").click(function(e){
            	//ambil nilai dari input di modal body
            	var input = $('#lockDuration').val();
            	var url = e.target.href;
            	e.target.href = url + [[#{util.url.get.paramLockDuration}]]+input;
            	//var url = e.find('href').attr('href');
            });
            $('#lockDuration').bind('keypress', function (event) {
                var regex = new RegExp("^[0-9\b]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                   event.preventDefault();
                   return false;
                }
            });
        });   
        
        $('#myModal').on('show.bs.modal', function (event) {
        	  var button = $(event.relatedTarget); // Button that triggered the modal
        	  var id = button.data('id'); // Extract info from data-* attributes
        	  var name = button.data('username');
        	  var action = button.data('event');
        	  var link = button.data('link'); 
        	  var defaultLockDuration = [[${defaultLockDuration}]];        	  
        	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        	  var modal = $(this);
        	  //modal.find('.modal-body').text(id);
        	  if(action=='lock')
        		{
        	  		modal.find('.modal-title').text([[#{label.manage.user.confirmation.lock}]]);
        	  		modal.find('.modal-body label').text([[#{label.manage.user.confirmation.lock.body}]]+name+'(default '+defaultLockDuration+' menit)');
        		}
        	  else if(action=='unlock')
        		  {
        			modal.find('.modal-title').text([[#{label.manage.user.confirmation.unlock}]]);
        			modal.find('.modal-body label').text([[#{label.manage.user.confirmation.unlock.body}]]+name);
        			modal.find('.modal-body input').hide();
        		  }
        	  else if(action=='reset')
    		  {
    			modal.find('.modal-title').text([[#{label.manage.user.confirmation.reset}]]);
    			modal.find('.modal-body label').text([[#{label.manage.user.confirmation.reset.body}]]+' untuk user '+name);
    			modal.find('.modal-body input').hide();
    		  }
        	  else if(action=='enable')
    		  {
    			modal.find('.modal-title').text([[#{label.manage.user.confirmation.enable}]]);
    			modal.find('.modal-body label').text([[#{label.manage.user.confirmation.enable.body}]]+' :'+name);
    			modal.find('.modal-body input').hide();
    		  }
        	  else if(action=='disable')
    		  {
    			modal.find('.modal-title').text([[#{label.manage.user.confirmation.disable}]]);
    			modal.find('.modal-body label').text([[#{label.manage.user.confirmation.disable.body}]]+' :'+name);
    			modal.find('.modal-body input').hide();
    		  }
        	  else if(action=='logout')
    		  {
    			modal.find('.modal-title').text([[#{label.manage.user.confirmation.logout}]]);
    			modal.find('.modal-body label').text([[#{label.manage.user.confirmation.logout.body}]]+' :'+name);
    			modal.find('.modal-body input').hide();
    		  }
        	  var temp = modal.find('.btn-primary').attr('href');
        	  modal.find('.btn-primary').attr('href',link);
        	});
    </script>
    <script th:src="@{/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}" ></script>
</div>
</html>