<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Download</title>
</head>
<div class="container fo" th:fragment="content">

    <link rel="stylesheet" type="text/css" th:href="@{/js/select2/select2.css}" />
<script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
        	$("div#okmessage").hide();
        	$("div#errormessage").hide();
        	var btnEnable = [[${enable}]];
          
        	if(btnEnable){
        		document.getElementById("buttonSubmit").disabled = false;
        	}
        	else{
        		document.getElementById("buttonSubmit").disabled = true;
        	} 
        		
        	function checkOk() {
        		  $.ajax({
        		    url: [[@{/home/download/progress/ok}]], 
        		    success: function(data) {	      				
	      				$("div#okmessage").hide();
        		      	if(data!=null)
        		      		if(data!='')
        		      			{
        		      				$("label#okmessagelabel").html(data);
        		      				$("div#okmessage").show();
        		      				if(data.indexOf("Finished Exporting")>=0)
        		      				{
        		      					document.getElementById("buttonSubmit").disabled = false;
        		      					table.ajax.reload();
        		      				}
        		      			}
        		    },
        		    complete: function() {
        		      // schedule the next request *only* when the current one is complete:
        		      setTimeout(checkOk, 5000);
        		    }
        		  });
        		}

        		// schedule the first invocation:
        		setTimeout(checkOk, 1);
        		
            	function checkError() {
          		  $.ajax({
          		    url: [[@{/home/download/progress/error}]], 
          		    success: function(data) {	      				
  	      				$("div#errormessage").hide();
          		      	if(data!=null)
          		      		if(data!='')
          		      			{
          		      				$("label#errormessagelabel").html(data);
          		      				$("div#errormessage").show();
          		      			}
          		    },
          		    complete: function() {
          		      // schedule the next request *only* when the current one is complete:
          		      setTimeout(checkError, 5000);
          		    }
          		  });
          		}

          		// schedule the first invocation:
          		setTimeout(checkError, 1);
        });
    </script>
    
    <div class="row"  >
    	<div>
    		 <h3 th:inline="text">[[#{label.title.download}]]</h3>
    	</div>
        
    <div id="okmessage" class="box-body">
            <div class="alert alert-info alert-dismissable">
              <a href="#" data-dismiss="alert" class="close">&times;</a>
              <label id="okmessagelabel" th:utext="${okMessage}"/>                
    		</div>
    </div>
    <div id="errormessage" class="box-body">
            <div class="alert alert-danger alert-dismissable">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                <label id="errormessagelabel" th:utext="${errorMessage}"/>                
            </div>
     </div>
 
     <form method="POST" th:action="@{/home/download}">
       <div>
       	 <button type="submit" class="btn btn-primary" th:inline="text" id="buttonSubmit">[[#{label.button.download}]]</button>
       </div>
    </form>

	<br></br>
	<br></br>
	<br></br>
	<br></br>

    <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>                
                	<th th:inline="text">[[#{label.download.fileName}]]</th>
                    <th th:inline="text">[[#{label.download.createdBy}]]</th>
                    <th th:inline="text">[[#{label.download.createdDate}]]</th>
                    <th th:inline="text">[[#{label.download.rowExport}]]</th>   
                    <th th:inline="text">[[#{label.download.rowGeotag}]]</th>                
                    <th th:inline="text">[[#{label.download.rowPicture}]] </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    
       
    </div>
    <!-- JQUERY VALIDATE -->
    <!--<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}"></script>-->
    <!--<script th:src="@{/js/plugin/jquery-validate/additional-methods.min.js}"></script>-->
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        var table=$('#table').DataTable({
            ajax:{
                url:/*[[@{/home/download/get-list-download}]]*/'
            },
//            columnDefs:[
//                {"orderable":false,"targets":3}
//            ],
            lengthChange:false,
            ordering:false,
            pageLength:50,
            processing:true,
            searching:false,
            serverSide:true
        });
      });

    </script>
</div>
</html>