<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>APK List</title>
</head>
<div class="container fo" th:fragment="content">

 	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/select2/select2.css}" />
	<script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
        	var btnEnable = [[${enable}]];
        	
        	if([[${okMessage}]]==null)		   				
					$("div#okmessage").hide();
        	
        	if([[${errorMessage}]]==null)			
					$("div#errormessage").hide();
        });
    </script>
    
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      		<label for="bodyMessage" class="control-label"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><th th:inline="text">[[#{label.close}]]</th></button>
        <a th:href="@{/home/manage/apk/list}" class="btn btn-primary" role="button" th:inline="text" name="modalSubmit" id="modalSubmit">[[#{label.next}]]</a>
      </div>
    </div>
  </div>
</div>
    <div class="row"  >
    	<div>
    		 <h3 th:inline="text">[[#{label.title.manageApk}]]</h3>
    	</div>
        
    <div id="okmessage" class="box-body">
            <div class="alert alert-info alert-dismissable">
              <a href="#" data-dismiss="alert" class="close">&times;</a>
              <label id="okmessagelabel" th:utext="${okMessage}"/>                
    		</div>
    </div> 
    <div id="errormessage" class="box-body">
            <div class="alert alert-danger alert-dismissable">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                <label id="errormessagelabel" th:utext="${errorMessage}"/>                
            </div>
     </div>
     
    <form id="upload" method="POST" th:action="@{/home/manage/apk}" enctype="multipart/form-data" th:object="${uploadApkForm}">
        <div class="form-group">
                <label for="version" class="col-sm-4 control-label" th:inline="text">[[#{label.apk.version}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:id="${version}" name="version" th:attr="placeholder=#{placeholder.version}" th:value="${version}" onkeyup="" maxlength="30" />
                </div>
        </div>
        <br></br>
        <br></br>
                
        <div class="form-group">
                <label for="description" class="col-sm-4 control-label" th:inline="text">[[#{label.apk.description}]]*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  th:id="${description}" name="description" th:attr="placeholder=#{placeholder.description}"  th:value="${description}" />
                </div>
        </div>
        
        <br></br>
        <br></br>
        
        <div class="form-group">
        	Apk to upload: <input type="file" th:id="${file}" name="file"  th:value="${file}" > </input>
 		</div>
        <input type="submit" value="Upload" id="buttonSubmit"> Press here to upload the file! </input>
    </form>
	<br></br>
	<br></br>
	
	
    <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>                
                	<th th:inline="text">[[#{label.manageApk.apkVersion}]]</th>
                    <th th:inline="text">[[#{label.manageApk.createdBy}]]</th>
                    <th th:inline="text">[[#{label.manageApk.createdDate}]]</th>
                    <th th:inline="text">[[#{label.manageApk.changeDescription}]]</th>  
                    <th th:inline="text">[[#{label.action}]]</th> 
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    
       
    </div>
    <!-- JQUERY VALIDATE -->
    <!--<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}"></script>-->
    <!--<script th:src="@{/js/plugin/jquery-validate/additional-methods.min.js}"></script>-->
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        var table=$('#table').DataTable({
            ajax:{
                url:/*[[@{/home/manage/apk/get-list-apk}]]*/
            },
//            columnDefs:[
//                {"orderable":false,"targets":3}
//            ],
            lengthChange:false,
            ordering:false,
            pageLength:50,
            processing:true,
            searching:false,
            serverSide:true
        });
        $('#buttonSubmit').submit(function(e) {
            e.stopPropagation();
            e.preventDefault();
        	 $('#version').val();
        	 $('#description').val();
            return false;
       }); 
       /*  $("#upload").submit(function(e) {
            e.preventDefault();
        }); */
      });
    
    function checkVersion(a)
    {
    	if(!/^[0-9.]+$/.test(a.value))
    	{
    	a.value = a.value.substring(0,a.value.length-1000);
    	}
    }

    $('#myModal').on('show.bs.modal', function (event) {
  	  var button = $(event.relatedTarget); // Button that triggered the modal
  	  var id = button.data('id'); // Extract info from data-* attributes
  	  var name = button.data('username');
  	  var action = button.data('event');
  	  var link = button.data('link');  	  
  	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  	  var modal = $(this);
  	  //modal.find('.modal-body').text(id);
  	  if(action=='enable')
  		{
  	  		modal.find('.modal-title').text([[#{label.manage.apk.not.allow}]]);
  	  		modal.find('.modal-body label').text([[#{label.manage.apk.not.allow.body}]]+' :'+name);
  	  		modal.find('.modal-body input').hide();
  		}
  	  else if(action=='disable')
  		  {
  			modal.find('.modal-title').text([[#{label.manage.apk.allow}]]);
  			modal.find('.modal-body label').text([[#{label.manage.apk.allow.body}]]+' :'+name);
  			modal.find('.modal-body input').hide();
  		  }
  	  var temp = modal.find('.btn-primary').attr('href');
  	  modal.find('.btn-primary').attr('href',link);
  	});
    </script>
    <script th:src="@{/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}" ></script>
</div>
</html>