<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Header</title>
</head>
<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top yamm" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img th:src="@{/img/logo.png}" alt="BTPN Logo.png" class="img-responsive"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="top-menu" class="nav navbar-nav navbar-right">
              <li id="home"><a th:href="@{/home}" class="text-uppercase" th:inline="text">[[#{label.home}]]</a></li>
              <li sec:authorize="isAuthenticated()">
              
          <!--      ORI 
          	  <li sec:authorize="hasAnyRole('CUSTOMER','ADMIN')">
              <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false" th:inline="text">[[#{label.claim}]]</a>
              <ul class="dropdown-menu" role="menu">
              <tr th:each="menu : ${session.menus}"> 
              <li><a th:href="@{${menu.menuName}}" class="text-uppercase" th:inline="text">[[#{${menu.menuPath}}]]</a></li>
              </tr>
              </ul>
              </li>-->
               
              <!-- CUSTOM -->
              <li id="menu" th:each="header : ${session.headers}"> 
				<a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false" th:inline="text">[[#{${header.menuName}}]]</a>
					<ul class="dropdown-menu" role="menu">
					<tr th:each="menu : ${session.menus}"> 
                    <td th:if="${menu.menuParentId} == ${header.menuId}">
             			<li><a th:href="@{${menu.menuPath}}" class="text-uppercase" th:inline="text">[[#{${menu.menuName}}]]</a></li>
             		   </td>
             		   </tr>
             		</ul>   
               </li>
               
          <!--     <li sec:authorize="hasRole('ADMIN')">
                    <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false" th:inline="text">[[#{label.manage}]]</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/admin/manage/user}" class="text-uppercase" th:inline="text">[[#{label.manage.user}]]</a></li>
                    </ul>
                </li>     -->
                    
                 </li>
                <li sec:authorize="isAnonymous()" class="bg-darkblue dropdown yamm-fullwidth">
                    <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false" th:inline="text">[[#{label.signin}]]</a>
                    <ul class="dropdown-menu-sign-in" role="menu">
                        <li>
                            <div class="row centered ya">
                                <div class="container-sign-in" style="width: 300px">
                                    <form th:action="@{/}" method="post" role="form">
                                        <div class="form-group">
                                    		<label th:inline="text">[[#{message.modal.signin.user}]]</label>
                                            <input type="text" class="form-control" style="width: 100%;" id="username" name="username" th:attr="placeholder=#{placeholder.username}"/>
                                        </div>
                                        <div class="form-group">
                                    		<label th:inline="text">[[#{message.modal.signin.pass}]]</label>
                                            <input type="password" class="form-control" style="width: 100%;" id="password" name="password" th:attr="placeholder=#{placeholder.password}"/>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary text-uppercase" th:inline="text">[[#{label.signin}]]</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
              <!--   <li sec:authorize="isAnonymous()" class="bg-blue"><a th:href="@{/registration}" class="text-uppercase" th:inline="text">[[#{label.signup}]]</a></li>-->
                <li sec:authorize="isAuthenticated()">
                    <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false" th:inline="text">[[#{label.my.account}]]</a>
                    <ul class="dropdown-menu" role="menu">
                      <!--   <li><a th:href="@{'/'+${rootUrl}+'/profile'}" class="text-uppercase" th:inline="text">[[#{label.profile}]]</a></li> -->
                        <li><a th:href="@{/home/profile}" class="text-uppercase" th:inline="text">[[#{label.profile}]]</a></li>
                        <li><a th:href="@{/logout}" class="text-uppercase" th:inline="text">[[#{label.signout}]]</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    $(this).on("click", function() {
        $("#home").removeClass("active");
        $(".dropdown-menu").addClass("active");
        $(".dropdown-menu li").removeClass("active");   
      });
    </script>
</div>
</html>