<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Upload Data Jenis Usaha CSV</title>
</head>
<div class="container fo" th:fragment="content">
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/dataTables.bootstrap.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/dataTables.bootstrap.css}" />
	<link rel="stylesheet"
		th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />
	<script th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/jquery.dataTables.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap.js}"></script>
	<script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){

          var table=$('#table').DataTable({
            ajax:{
              data:function(d){
                d.q=$('#table').data('keyword');
              },
              url:[[@{/home/uploadJenisUsaha/list}]]
            },
            autoWidth: false,
            columns : [
              {width : '4px'},
              {width : '7px'},
              {width : '7px'},
              {width : '7px'},
              {width : '7px'},
              {width : '7px'},
            ],
            lengthChange:false,
            ordering:false,
            pageLength:50,
            processing:true,
            searching:false,
            serverSide:true
          });

        	var btnEnable = [[${enable}]];

        	if(btnEnable){
        		document.getElementById("buttonSubmit").disabled = false;
        	}
        	else{
        		document.getElementById("buttonSubmit").disabled = true;
        	}

        	function checkOk() {
        		  $.ajax({
        		    url: [[@{/home/uploadJenisUsaha/progress/ok}]],
        		    success: function(data) {
          		    	if([[${okMessage}]]==null)
	      					$("div#okmessage").hide();
        		      	if(data!=null)
        		      		if(data!='')
        		      			{
        		      				$("label#okmessagelabel").html(data);
        		      				$("div#okmessage").show();
        		      				if(data.indexOf("Finished importing")>=0)
        		      					document.getElementById("buttonSubmit").disabled = false;
        		      			}
        		    },
        		    complete: function() {
        		      // schedule the next request *only* when the current one is complete:
        		      setTimeout(checkOk, 5000);
        		    }
        		  });
        		}

        		// schedule the first invocation:
        		setTimeout(checkOk, 1);

            	function checkError() {
          		  $.ajax({
          		    url: [[@{/home/uploadJenisUsaha/progress/error}]],
          		    success: function(data) {
          		    	if([[${errorMessage}]]==null)
  	      					$("div#errormessage").hide();
          		      	if(data!=null)
          		      		if(data!='')
          		      			{
          		      				$("label#errormessagelabel").html(data);
          		      				$("div#errormessage").show();
          		      			}
          		    },
          		    complete: function() {
          		      // schedule the next request *only* when the current one is complete:
          		      setTimeout(checkError, 5000);
          		    }
          		  });
          		}

          		// schedule the first invocation:
          		setTimeout(checkError, 1);
        });
    </script>

	<div class="row">
		<h3 th:inline="text">[[#{label.upload.title}]]</h3>
	</div>

	<div id="okmessage" class="box-body">
		<div class="alert alert-info alert-dismissable">
			<a href="#" data-dismiss="alert" class="close">&times;</a> <label
				id="okmessagelabel" th:utext="${okMessage}" />
		</div>
	</div>
	<div id="errormessage" class="box-body">
		<div class="alert alert-danger alert-dismissable">
			<a href="#" data-dismiss="alert" class="close">&times;</a> <label
				id="errormessagelabel" th:utext="${errorMessage}" />
		</div>
	</div>


	<form method="POST" th:action="@{/home/uploadJenisUsaha}"
		enctype="multipart/form-data" th:object="${uploadForm}">
		<label class="control-label">Select File</label> <input type="file"
			th:id="${file}" name="file" th:value="${file}" class="file">
		</input><br /> <input type="submit" value="Upload" id="buttonSubmit"
			class="btn btn-primary"> Press here to upload the file! </input>
	</form>

	<table id="table" class="table table-hover table-striped"
		data-keyword="" data-authority="">
		<thead>
			<tr>
				<th th:inline="text">[[#{label.jenisUsaha.identifier}]]</th>
				<th th:inline="text">[[#{label.jenisUsaha.kat_bidang_usaha}]]</th>
				<th th:inline="text">[[#{label.jenisUsaha.desc_usaha}]]</th>
				<th th:inline="text">[[#{label.jenisUsaha.kd_sector_usaha}]]</th>
				<th th:inline="text">[[#{label.jenisUsaha.sandi_baru_desc}]]</th>
				<th th:inline="text">[[#{label.jenisUsaha.TujuanPembiayaan}]]</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
</html>