<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Upload Mapping Product CSV</title>
</head>
<div class="container fo" th:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
	<script th:src="@{/js/bootstrap-datepicker.js}"></script>         
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
        	var btnEnable = [[${enable}]];
          
        	if(btnEnable){
        		document.getElementById("buttonSubmit").disabled = false;
        	}
        	else{
        		document.getElementById("buttonSubmit").disabled = true;
        	} 
        		
        	function checkOk() {
        		  $.ajax({
        		    url: [[@{/home/uploadProductRate/progress/ok}]],
        		    success: function(data) {	   
          		    	if([[${okMessage}]]==null)		   				
	      					$("div#okmessage").hide();
        		      	if(data!=null)
        		      		if(data!='')
        		      			{
        		      				$("label#okmessagelabel").html(data);
        		      				$("div#okmessage").show();
        		      				if(data.indexOf("Finished importing")>=0)
        		      					document.getElementById("buttonSubmit").disabled = false;
        		      			}
        		    },
        		    complete: function() {
        		      // schedule the next request *only* when the current one is complete:
        		      setTimeout(checkOk, 5000);
        		    }
        		  });
        		}

        		// schedule the first invocation:
        		setTimeout(checkOk, 1);
        		
            	function checkError() {
          		  $.ajax({
          		    url: [[@{/home/uploadProductRate/progress/error}]],
          		    success: function(data) {	      	
          		    	if([[${errorMessage}]]==null)			
  	      					$("div#errormessage").hide();
          		      	if(data!=null)
          		      		if(data!='')
          		      			{
          		      				$("label#errormessagelabel").html(data);
          		      				$("div#errormessage").show();
          		      			}
          		    },
          		    complete: function() {
          		      // schedule the next request *only* when the current one is complete:
          		      setTimeout(checkError, 5000);
          		    }
          		  });
          		}

          		// schedule the first invocation:
          		setTimeout(checkError, 1);
        });
    </script>
    
    <div class="row">
        <h3 th:inline="text">[[#{label.upload.title}]]</h3>
    </div>
    
    <div id="okmessage" class="box-body">
            <div class="alert alert-info alert-dismissable">
              <a href="#" data-dismiss="alert" class="close">&times;</a>
              <label id="okmessagelabel" th:utext="${okMessage}"/>                
    		</div>
    </div>
    <div id="errormessage" class="box-body">
            <div class="alert alert-danger alert-dismissable">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                <label id="errormessagelabel" th:utext="${errorMessage}"/>                
            </div>
     </div>
    
    
    <form method="POST" th:action="@{/home/uploadProductRate}" enctype="multipart/form-data" th:object="${uploadForm}">
        <label class="control-label">Select File</label>
        <input type="file" th:id="${file}" name="file"  th:value="${file}" class="file"> </input><br />
        <input type="submit" value="Upload" id="buttonSubmit" class="btn btn-primary"> Press here to upload the file! </input>
    </form>
         <style type="text/css">
	       #table {
	           margin: 0 auto;
	           clear: both;
	           width: 100%;
	           table-layout: fixed;
	           word-wrap: break-word;	
	        }
	    </style>
    <table id="table" class="table table-hover table-striped" data-keyword="" data-authority="">
            <thead>
                <tr>
               	    <th th:inline="text">[[#{label.kdProduk}]]</th>
                	<th th:inline="text">[[#{label.updateDate}]]</th>
                    <th th:inline="text">[[#{label.productName}]]</th>
                    <th th:inline="text">[[#{label.tenorBulan}]]</th>
                    <th th:inline="text">[[#{label.JnsNasabah}]]</th>
                    <th th:inline="text">[[#{label.tjnPembiayaan}]]</th>
                    <th th:inline="text">[[#{label.typeCustomer}]]</th>
                    <th th:inline="text">[[#{label.regpil}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
    </table> 
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        var table=$('#table').DataTable({
            ajax:{
                data:function(d){
                    d.q=$('#table').data('keyword');
                },
                url:/*[[@{/home/uploadProductRate/get-list}]]*/'
            },
            autoWidth: false,
            columns : [
            	{ width : '7 px' },
            	{ width : '7 px' },
                { width : '7 px' },
                { width : '7 px' },
                { width : '7 px' },
                { width : '7 px' },
                { width : '7 px' },
                { width : '7 px' }
                ],
            lengthChange:false,
            ordering:false,
            pageLength:50,
            processing:true,
            searching:false,
            serverSide:true
        });
        $('#search').submit(function(e) {
            e.stopPropagation();
            e.preventDefault();
            $('#table').data('keyword', $('#q').val());
            table.ajax.reload();
            return false;
        });
    });
    </script>
</div>
</html>