<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Geo Location</title>
</head>
<div class="container fo" th:fragment="content">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/js/skin/ui.dynatree.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.js}"/>
    <script th:src="@{/js/jquery-ui.custom.js}"></script>    
    <script th:src="@{/js/jquery.cookie.js}"></script>
    <script th:src="@{/js/jquery.dynatree.js}"></script>        
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/jquery.ui.map.js}"></script>
    <script th:src="@{/js/modernizr-custom.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		var markers=[];
		var hideLine=true;
		var hideCircle=true;
	    var map;

		
        $(document).ready(function(){ 
	        function initialize() {        	
	    		var latlng = new google.maps.LatLng(-6.211544, 106.845172);
	    		var styleArray = [
	    		                   {
	    		                     featureType: "all",
	    		                     stylers: [
	    		                      { saturation: -80 }
	    		                     ]
	    		                   },{
	    		                     featureType: "road.arterial",
	    		                     elementType: "geometry",
	    		                     stylers: [
	    		                       { hue: "00d4ff" }
	    		                     ]
	    		                   }
	    		                 ];
	    		var myOptions = {
	    		  zoom: 4,
	    		  center: latlng,
	    		  mapTypeId: google.maps.MapTypeId.ROADMAP,
	    		  styles: styleArray
	    		};
	    		map = new google.maps.Map(document.getElementById("map_container"),myOptions);
	    	};
	    	google.maps.event.addDomListener(window, 'load', initialize);
        	
            var table=$('#table').DataTable({
                    ajax:{
                        data:function(d){
                            d.q=$('#table').data('keyword');
                        },
                        url:[[@{/home/dashboard/geolocation/search}]]
                    },
                    autoWidth: false,
                   /* columns : [
                        { width : '1px' },
                        { width : '50px'},
                        { width : '50px'}
                      ],*/  
                    lengthChange:false,
                    ordering:false,
                    pageLength:10,
                    processing:true,
                    searching:false,
                    serverSide:true
                });
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                $('#table').data('keyword', $('#q').val());
                table.ajax.reload();
                return false;
            });
    	    
            
    	    $('body').on('click', '.showOnMapClass', function(){
    	    	var locationId = $(this).data("locationid");
    	    	var latitude= $(this).data("latitude");
    	    	var longitude= $(this).data("longitude");
    	    	var icon= $(this).data("icon");
    	    	var title= $(this).data("title");
    	    	var address= $(this).data("address");
    	    	var parentId= $(this).data("parentid");  
    	    	var imagePath = $(this).data("imagepath");
    	    	var structureLocation = $(this).data("structurelist");
    	    	
    	    	var currentMarker = findMarker(locationId);
    	    	if(currentMarker==null)
    	    	{
    	    		addMarker(locationId,latitude,longitude,icon,title,address,parentId,imagePath);
    	    	}
    	    	else
    	    	{
    	    		showMarker(locationId);	
    	    	}
    	    	panMarker(locationId);
    	    	searchByLocationId(locationId,structureLocation);
    	    	
    	    });
            $('#hideLine').click(function(e) {
        		for(var i=0;i<markers.length;i++)
        		{
       				var markerToHide=markers[i];
       				if(hideLine==true)
    				{
           				if(markerToHide.path!=null)
          					 markerToHide.path.setVisible(false);
    				}
       				else
       				{
           				if(markerToHide.path!=null && markerToHide.userSelect == true)
           				{
           					if(markerToHide.parentId!=null)
           					{
           						var parentMarker = findMarker(markerToHide.parentId);
           						if(parentMarker!=null){
           							if(parentMarker.userSelect==true)
           								markerToHide.path.setVisible(true);
           						}	
           					}
           					
           				}
         					 
       				}
       			}
        		if(hideLine==true)
        			hideLine=false;
        		else
        			hideLine=true;
            return false;
            });
            $('#hideCircle').click(function(e) {
        		for(var i=0;i<markers.length;i++)
        		{
       				var markerToHide=markers[i];
       				if(hideCircle==true)
    				{
          				if(markerToHide.circle!=null)
         					 markerToHide.circle.setVisible(false);
    				}
       				else
       				{
         				if(markerToHide.circle!=null  && markerToHide.userSelect == true)
        					 markerToHide.circle.setVisible(true);
       				}
       			}
        		if(hideCircle==true)
        			hideCircle=false;
        		else
        			hideCircle=true;
            return false;
            });
            $(function() {
    	        $( "#tabs" ).tabs({
    	          collapsible: true
    	        });
            });
            
        	 $("#tree").dynatree({
                 onActivate: function(node) {
                     // A DynaTreeNode object is passed to the activation handler
                     // Note: we also get this event, if persistence is on, and the page is reloaded.
                     if(node.data.longitude!=null && node.data.latitude!=null)
                     {
                    	 node.select(true);
                     	panMarker(node.data.initId);
                     }
                 },
                 onSelect: function(action,node)
                 {                	
                	 doProcessSelect(action,node);
                	 //manual trigger select event di anak-anak nya
                	 node.visit(function(childNode){
                         childNode.select(action);
                         doProcessSelect(action,childNode);
                     });
                 },
                 initAjax: {
     				url: [[@{/home/dashboard/geolocation/get-children}]],
     				data: { parentId: "root" },
     				complete: executeAfterAjaxResponseInit
     				},
     			 onLazyRead: sendAjaxChildren,
                 persist: true,
                 checkbox: true,
                 selectMode: 3
             });
        });
      
        
        function executeAfterAjaxResponseInit(data)
        {
        	setTimeout(function(){ 
        		executeAfterAjaxResponse(data); 
          		var root=$("#tree").dynatree("getRoot");
          		root.expand(true);
          		root.visit(function(node){
          				node.select(false);
          	  			//HO expand KCS
          				node.toggleExpand(true);
        	  			node.toggleExpand(true);
        	  			});
        	}, 3000);        	
        }
        
        function sendAjaxChildren(node)
        {
        	node.appendAjax({
         	    url: [[@{/home/dashboard/geolocation/get-children}]],
		        data: {parentId: node.data.initId},
                complete: executeAfterAjaxResponse
           });
        	node.select(true);
        	node.visit(function(node2){
        		node2.select(true);
        	},false);
        };       
        
        function executeAfterAjaxResponse(data) 
        {
        	var parentMarker;
        	var maxDistance = 0;
        	var draw = false;
        	
        	var longestLatitude;
        	var longestLongitude;
        	
        	for(var i=0;i<data.responseJSON.length;i++)
        	{
        		var node = data.responseJSON[i];
        		if(node.latitude!=null && node.longitude!=null)
        		{
        			var currentMarker = addMarker(node.initId,node.latitude, node.longitude,node.icon,node.title,node.address,node.parentId,node.imagePath);
        			currentMarker.pathColor = node.pathColor;
        			currentMarker.circleColor = node.circleColor;
        			parentMarker = findMarker(node.parentId);
        			if(parentMarker!=null)
        			{
        				var latitude1 = parentMarker.strLat;
        				var longitude1 = parentMarker.strLng;
        				var latitude2 = parseFloat(node.latitude);
        				var longitude2 = parseFloat(node.longitude);
        				var distance = getDistanceFromLatLonInMeter(latitude1,longitude1,latitude2,longitude2);
        				
        				if(maxDistance < distance)
        				{
        					maxDistance = distance;
        					longestLatitude=node.latitude;
        					longestLongitude=node.longitude;
        					draw = true;
        				}
        			}
        		}
        	}
        	
        	//jika ketika reload KCS jangan tampilin HO
        	if(parentMarker!=null && parentMarker.title.startsWith("[HO]"))	
        		draw=false;
			if(parentMarker!=null && draw==true) {
				var cityCircle = new google.maps.Circle({
				      strokeColor: '#FF0000',
				      strokeOpacity: 0.8,
				      strokeWeight: 2,
				      fillColor: parentMarker.circleColor,
				      fillOpacity: 0.35,
				      map: map,
				      center: parentMarker.position,
				      radius: maxDistance
				    });
				parentMarker.circle = cityCircle; 	
			}			
       };
       
    	function addMarker(locationId,latitude,longitude,icon,title,address,parentId,imagePath)
    	{
    		var marker;
    		var geospasialUrl = [[@{/home/dashboard/geolocation/spasial?locationId=}]]+locationId;
    		var infoWindowContent = title + "<br><img src='"+imagePath+"' HEIGHT='60px' WIDTH='60px'/><br><a href="+geospasialUrl+">Lihat Detail</a>";
    		
    		var markerImage = new google.maps.MarkerImage(icon,
                    new google.maps.Size(32, 32),
                    new google.maps.Point(0, 5),
                    new google.maps.Point(15, 12));
    		
    		marker = new google.maps.Marker({
    		  position: {lat: parseFloat(latitude), lng: parseFloat(longitude)}, 
    		  title: title,
    		  icon: markerImage,
    		  markerId: locationId,
    		  parentId: parentId,
    		  strLat: parseFloat(latitude),
    		  strLng: parseFloat(longitude),
    		  imagePath: imagePath
    		});

    		marker.addListener('click', function() {
                var infoWindow = new google.maps.InfoWindow({
                    content: infoWindowContent,
                    pixelOffset: new google.maps.Size(0, 15)
                });
                map.setCenter(marker.getPosition());
                infoWindow.open(map, marker);
                marker.infoWindow=infoWindow;
    		});
    		marker.setMap(map);
    		
    		if(parentId!=null)
    		{
    			var parentMarker = findMarker(parentId);
    			if(parentMarker!=null)
    			{
    		  	  var pathCoordinates = [marker.position,parentMarker.position];
    		      var   path = new google.maps.Polyline({
    		       			    path: pathCoordinates,
    		       			    geodesic: true,
    		       			    strokeColor: parentMarker.pathColor,
    		       			    strokeOpacity: 1.0,
    		       			    strokeWeight: 3
    		       			  });
    		      path.setMap(map);	
    		      marker.path=path;
    			}
    		}    		
    		marker.userSelect = true;
    		markers.push(marker);
    		return marker;
    	}
    	
    	function hideMarker(markerId)
    	{
    		for(var i=0;i<markers.length;i++)
    		{
   				var markerToHide=markers[i];
   				if(markerToHide.markerId==markerId)
   				{
   					 markerToHide.setVisible(false);
   					 if(markerToHide.path!=null)
   						 markerToHide.path.setVisible(false);
   					if(markerToHide.circle!=null)
  						 markerToHide.circle.setVisible(false);
   				}
    		}	   		 
    	}
    	
    	function removeMarker(markerId)
    	{
    		for(var i=0;i<markers.length;i++)
    		{
   				var markerToRemove=markers[i];
   				if(markerToRemove.markerId==markerId)
   					markerToRemove.setMap(null)
    		}	   		 
    	}
    	
    	function findMarker(markerId)
    	{
    		for(var i=0;i<markers.length;i++)
    		{
   				var markerToFind=markers[i];
   				if(markerToFind.markerId==markerId)
   					 return markerToFind;
    		}	   		 
    	}
    	
    	function showMarker(markerId)
    	{
    		for(var i=0;i<markers.length;i++)
    		{
   				var markerToHide=markers[i];
   				if(markerToHide.markerId==markerId)
   				{
   					 markerToHide.setVisible(true);
   					 if(markerToHide.path!=null)
   						 markerToHide.path.setVisible(true);
   					if(markerToHide.circle!=null)
  						 markerToHide.circle.setVisible(true);
   				}
    		}	   		 
    	}
    	
  	  function panMarker(markerId) {
		  var markerToPan = findMarker(markerId);	
		  map.panTo(markerToPan.position);	
		  map.setZoom(20);
		  markerToPan.setVisible(true);
		  google.maps.event.trigger(markerToPan, 'click');
		}
  	  
  	  function doProcessSelect(action,node)
  	  {
  		if(action==true)
    	{
    		var tempMarker = findMarker(node.data.initId);
    		if(tempMarker==null)
    		{
    			if(node.data.longitude!=null && node.data.latitude!=null)
    			{
    	 			addMarker(node.data.initId,node.data.latitude, node.data.longitude,node.data.icon,node.data.title,node.data.address,node.data.parentId,node.data.imagePath)
    			}
    		}
    	 	else
    	 	{
    	 		tempMarker.userSelect=true;	
    	 		showMarker(node.data.initId);
				if(tempMarker.parentId!=null)
   				{
   					var parentMarker = findMarker(tempMarker.parentId);
   					if(parentMarker!=null){
   						if(parentMarker.userSelect==false)
   							tempMarker.path.setVisible(false);
   					}	
   				}
    	 	}
    	}
    	else if(action==false)
    	{
    		var tempMarker = findMarker(node.data.initId);
    		hideMarker(node.data.initId);
    		tempMarker.userSelect=false;
    	}
  	  }
  	  
  	function getDistanceFromLatLonInMeter(lat1,lon1,lat2,lon2) {
  	  var R = 6371; // Radius of the earth in km
  	  var dLat = deg2rad(lat2-lat1);  // deg2rad below
  	  var dLon = deg2rad(lon2-lon1); 
  	  var a = 
  	    Math.sin(dLat/2) * Math.sin(dLat/2) +
  	    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
  	    Math.sin(dLon/2) * Math.sin(dLon/2)
  	    ; 
  	  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  	  var d = R * c; // Distance in km
  	  return d * 1000;
  	}

  	function deg2rad(deg) {
  	  return deg * (Math.PI/180)
  	}  	
  	
  	function searchByLocationId(locationId,structureList)
  	{
  		var root=$("#tree").dynatree("getRoot");
  		root.expand(true);
  		var stop=false;
  		root.visit(function(node){
  			if(isInStructureList(node.data.initId,structureList))
  			{
  				node.select(false);
  	  			//HO expand KCS
  				node.toggleExpand(true);
	  			node.toggleExpand(true);	  	
	  	  		
	  	  		setTimeout(function(){
		  	  		node.visit(function(node2){
		  	  			if(stop==true)
		  					return;
		  	  			node2.select(false);
		  	  			if(node2.data.initId==locationId){
				  	  		node2.select(true);
				  	  		stop = true;
				  	  		return;
				  	  	}
			  	  		if(isInStructureList(node2.data.initId,structureList)){
				  	  		//KCS expand KFO
			  	  			node2.toggleExpand(true);
			  	  	  		node2.toggleExpand(true);	

				  	  		setTimeout(function(){	 		  	  	  		
					  	  		if(isInStructureList(node2.data.initId,structureList)){
				  	  	  			node2.visit(function(node3){
						  	  			if(stop==true)
				  	  						return;
				  	  	  				node3.select(false);
						  	  			if(node3.data.initId==locationId){
								  			node3.select(true);
								  			stop = true;
								  			return;
								  		}
						  	  			if(isInStructureList(node3.data.initId,structureList)){
							  	  			//KFO expand MMS
						  	  				node3.toggleExpand(true);
					  	  	  				node3.toggleExpand(true);								  	  		
					  	  	  				
								  	  		setTimeout(function(){
							  	  	  			node3.visit(function(node4){
									  	  			if(stop==true)
							  	  						return;
							  	  	  				node4.select(false);
								  	  	  			if(node4.data.initId==locationId){
											  			node4.select(true);
											  			stop=true;
											  			return;
											  		}
									  	  			if(isInStructureList(node4.data.initId,structureList)){
									  	  				//MMS expand PRS
									  	  				node4.toggleExpand(true);
								  	  	  				node4.toggleExpand(true);
								  	  	  				setTimeout(function(){
								  	  	  					node4.visit(function(node5){
												  	  			if(stop==true)
										  	  						return;
										  	  	  				node5.select(false);
											  	  	  			if(node5.data.initId==locationId){
														  			node5.select(true);
														  			stop=true;
														  			return;
														  		}
								  	  	  					});
								  	  	  				},2000,node4,locationId,structureList);
									  	  			}
							  	  	  	  		},false);	
								  	  		}, 2000,node3,locationId,structureList);
						  	  	  		}
				  	  	  			},false);
				  	  	  		}
				  	  		}, 2000,node2,locationId,structureList);
			  	  		}
			  	  	},false);	
	  	  		}, 2000,node,locationId,structureList);	  	  			
  			}
  		});
  	}
  	
  	function isInStructureList(locationId,structureList)
  	{
  		var res = structureList.split(";");
  		for(var i=0;i<res.length;i++)
  		{
  			if(res[i]==locationId)
  				return true;
  		}
  		return false;
  	}
  	
  	function sleep(milliseconds) {
  	  var start = new Date().getTime();
  	  for (var i = 0; i < 1e7; i++) {
  		  
  	    if ((new Date().getTime() - start) > milliseconds){
  	      break;
  	    }
  	  }
  	}
    	/*]]>*/
    </script>
    <div class="row">
        <h3 th:inline="text">[[#{label.dashboard.geolocation}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
        <div align="left">
        		<div class="col-md-8"><div  id="map_container" style="width:100%;height:400px;margin:0 0 20px 0;"></div></div>
        		<div  class="col-md-4" valign="top" nowrap="nowrap" align="left">
					<div id="tabs" >
			        	<ul>
			        		<li><a href="#tabs-1"  th:inline="text">[[#{label.dashboard.tab.filter}]]</a></li>
			        		<li><a href="#tabs-2"  th:inline="text">[[#{label.dashboard.tab.search}]]</a></li>
			        	</ul>        	
			   				<div id="tabs-1">
			   					<div id="tree" style="overflow-y:scroll;height:270px;margin-bottom: 14px;"></div>
			   					<div align="center">
			   						<button class="btn btn-success geo" id="hideLine" name="hideLine" role="button"><small class="small-geo-filter" th:inline="text">[[#{label.hideUnhide.line}]]</small></button>
			               			<button class="btn btn-success geo" id="hideCircle" name="hideCircle" role="button"><small class="small-geo-filter" th:inline="text">[[#{label.hideUnhide.circle}]]</small></button>
			   					</div>			   					
			           		</div>
							<div id="tabs-2" style="overflow-x:hidden; padding:10px;overflow-y:hidden; height:340px;">
							<div id="container-tabs-2" style="overflow-x: scroll; overflow-y: scroll; height:300px; width:100%;">
								<form id="search" class="form-horizontal">
						            <div class="form-group"> 
						            	<div style="margin-left: 20px; font-size: 14px;">
						                	<label for="q"><small th:inline="text">[[#{label.keyword}]]</small></label>
						                </div>
						                <div style="margin-left: 10px; width:350px ;padding-left:10px; padding-top:5px; margin-top:2px;">
						                	<input style="float: left; margin-top: 2px; font-size: 50%" type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.dashboard.keyword}" autofocus="autofocus" />
						                	<button style="float: left; margin-left: 10px;" type="submit" class="btn btn-primary" th:inline="text"><em class="fa fa-search"></em></button>
						                </div>
						            </div>
								</form>
								<style type="text/css">
								    
								div.dataTables_paginate .pagination {
								    margin: 0;
								    white-space: nowrap;
								    text-align: right;
								    font-size: 8px;
								    padding-bottom:10px;
								   }
								
								#table td {
									margin: 0 auto;
									clear: both;
									width: 100%;
									table-layout: fixed;
									word-wrap: break-word;	
									}
							    div.dataTables_info {
							    	padding-top: 8px;
							    	white-space: nowrap;
							    	font-size:8px;
							    	}
							    div.dataTables_processing {
							        position: absolute;
							        top: 50%;
							        left: 50%;
							        width: 100%;
							        height: 60px;
							        margin-left: -50%;
							        margin-top: -25px;
							        padding-top: 20px;
							        padding-bottom: 20px;
							        text-align: center;
							        font-size: 8px;
							        background-color: white;
							        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
							        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
							        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
							        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
							        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
							        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
							        }

							    </style>
						        <table id="table" class="table table-hover table-striped data-table" data-keyword="" style="font-size:60%;table-layout:fixed;width=100%; text-align:left;">
						            <thead>
						                <tr>
						                    <th style="width:20px;"><small th:inline="text">[[#{label.number}]]</small></th>
						                    <th style="width:50%;"><small  th:inline="text">[[#{label.description}]]</small></th>
						                    <th style="width:20%;">&nbsp;</th>
						                </tr>
						            </thead>
						            <tbody></tbody>
						        </table> 
						    </div>		
				        	</div>       					
			        </div>
        		</div>
        </div>                          
    </div>    
</div>
</html>