<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Audit Log List</title>
</head>
      
<div class="container fo" th:fragment="content">

    <link rel="stylesheet" type="text/css"  th:href="@{/js/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.css}" />
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/datepicker.css}" /> -->
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <strong>Tanggal Mulai tidak boleh lebih dari Tanggal Akhir</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="row">
        <h3 th:inline="text">[[#{label.auditLog}]]</h3>
        <div class="box-body" th:if="${okMessage != null and okMessage != ''}">
            <div class="alert alert-info alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${okMessage}]]
            </div>
        </div>
        <div class="box-body" th:if="${errorMessage != null and errorMessage != ''}">
            <div class="alert alert-danger alert-dismissable" th:inline="text">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                [[${errorMessage}]]
            </div>
        </div>
         
        <form id="search" class="form-horizontal">
            <div class="form-group">
                <label for="q" class="col-sm-4 control-label" th:inline="text">[[#{label.keyword}]]</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="q" th:attr="placeholder=#{placeholder.search.log.keyword}" autofocus="autofocus"/>
                </div>
            </div>
            
           <!--  <div class="form-group">
                <label for="c" class="col-sm-4 control-label" th:inline="text">[[#{label.startdate}]]</label>
                <div class="col-sm-8">
                    <input type="date" id="c" name="startDate" data-date-format="yyyy-mm-dd" />
                </div>
            </div>
            <div class="form-group">
                <label for="b" class="col-sm-4 control-label" th:inline="text">[[#{label.enddate}]]</label>
                <div class="col-sm-8">
                    <input type="date" id="b" name="endDate" data-date-format="yyyy-mm-dd"/>
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-sm-4 control-label" th:inline="text">[[#{label.periodDate}]]</label>
                <div class="col-sm-8" id="sandbox-container">
                   <div class="input-daterange input-group" id="datepicker">
				     <input type="text" class="input-sm form-control" id="c" name="startDate" th:value="${startDate}" onkeydown="return false"/>
				     <span class="input-group-addon">to</span>
				     <input type="text" class="input-sm form-control" id="b" name="endDate" th:value="${endDate}" onkeydown="return false"/>
			       </div>
			    </div>
			</div>
            
            <div class="form-group">
                <label for="a" class="col-sm-4 control-label" th:inline="text">[[#{label.activityType}]]</label>
                <div class="col-sm-8">
                    <select class="form-control" id="a">
                        <option value="" th:text="${#strings.toUpperCase('__#{label.select.all}__')}"></option>
                        <!--  <option th:each="activityType : ${activityType}" th:value="${activityType}" th:text="${activityName}"></option> -->
                        <option value="1" >Login / Logout Web</option>
                        <option value="2" >Buka Halaman Web</option>
                        <option value="3" >Tambah / Update Data</option>
                        <option value="4" >Hapus Cache</option>
                        <option value="5" >Login / Logout dari Mobile</option>
                        <option value="6" >Modifikasi Data SDA dari Mobile</option>
                        <option value="7" >Modifikasi Data PM dari Mobile</option>
                        <option value="19" >Generating Report</option>
                    </select>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-xs-6 text-right">
                    <button type="submit" class="btn btn-primary" th:inline="text">[[#{label.search}]]</button>
                </div>
            </div>            

        </form>
        <table id="table" class="table table-hover table-striped" data-keyword="" data-activityType="">
            <thead>
                <tr>
                    <th th:inline="text">[[#{label.activityType}]]</th>
                    <th th:inline="text">[[#{label.description}]]</th>
                    <th th:inline="text">[[#{label.created.by}]]</th>
                    <th th:inline="text">[[#{label.created.date}]]</th>
                    <th th:inline="text">[[#{label.reffNo}]]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery-ui.custom.js}"></script> 
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>         
    <script th:src="@{/js/modernizr-custom.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var table=$('#table').DataTable({
                ajax:{
                    data:function(d){
                        d.q=$('#table').data('keyword');
                        d.a=$('#table').data('activityType');
                        var date = new Date();
                        d.c=$('#table').data('startDate');
                        d.b=$('#table').data('endDate'); 
                    },
                    url:/*[[@{/home/auditLog/get-list}]]*/''
                },
//                columnDefs:[
//                    {"orderable":false,"targets":3}
//                ],
                lengthChange:false,
                ordering:false,
                pageLength:50,
                processing:true,
                searching:false,
                serverSide:true
            });
            
            $(function(){           
                if (!Modernizr.inputtypes.date) {
                // If not native HTML5 support, fallback to jQuery datePicker
                    $('input[type=date]').datepicker({
                        // Consistent format with the HTML5 picker
                            dateFormat : 'yyyy-mm-dd',
                            autoclose : true,
                            clearBtn : true
                        }
                    );
                }
            });
            
            $('#sandbox-container .input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayBtn: true,
                clearBtn: true,
                autoclose: true,
                todayHighlight: true,
                orientation: "bottom auto"
            });
           
            $('#search').submit(function(e) {
                e.stopPropagation();
                e.preventDefault();
                var date = new Date();
                var startDate = $("#c").val();
                var endDate = $("#b").val();
               /*  var startDateCmp = Date.parse(startDate);
                var endDateCmp = Date.parse(endDate);
                if(startDateCmp > endDateCmp){
                	$('#myModal').modal('show'); 
                }else{ */
                    $('#table').data('keyword', $('#q').val());
                    $('#table').data('activityType', $('#a').val());
                    $('#table').data('startDate', startDate);
                    $('#table').data('endDate',endDate );
                    table.ajax.reload();
                //}
                return false;
            });
        });  
        
    </script>
</div>
</html>