<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Input PRS Parameter</title>
</head>
<div class="container fo" th:fragment="content">
	<link rel="stylesheet" type="text/css"
		th:href="@{/js/select2/select2.css}" />
	<script th:src="@{/js/select2/select2.js}"></script>
	<script th:src="@{/js/select2/select2.min.js}"></script>

	<div class="row" th:object="${prsparam}">
		<h3 th:if="*{parameterId} == null" th:inline="text">[[#{label.add.prsparam}]]</h3>
		<h3 th:if="*{parameterId} != null" th:inline="text">[[#{label.edit.prsparam}]]</h3>
		<div class="box-body" th:if="${okMessage != null and okMessage != ''}">
			<div class="alert alert-info alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${okMessage}]]
			</div>
		</div>
		<div class="box-body"
			th:if="${errorMessage != null and errorMessage != ''}">
			<div class="alert alert-danger alert-dismissable" th:inline="text">
				<a href="#" data-dismiss="alert" class="close">&times;</a>
				[[${errorMessage}]]
			</div>
		</div>
		<div th:object="${prsparam}">
			<div class="box-body" th:if="${#fields.hasErrors('*')}">
				<div class="alert alert-danger alert-dismissable" th:inline="text">
					<a href="#" data-dismiss="alert" class="close">&times;</a>
					<div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
				</div>
			</div>
		</div>
		<form class="form-horizontal" method="POST" th:object="${prsparam}" enctype="multipart/form-data"
			th:action="@{/home/manage/prsparam/add(parameterId=${prsparam.parameterId})}">
			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('paramGroup')} ? ' has-error'"
				th:if="*{parameterId} == null">
				<label th:if="*{parameterId} == null" for="paramGroup"
					class="col-sm-4 control-label" th:inline="text">[[#{label.group}]]*</label>
				<label th:if="*{parameterId} != null" for="paramGroup"
					class="col-sm-4 control-label" th:inline="text">[[#{label.group}]]</label>
				<div class="col-sm-8">
					<select class="combo-group" th:field="*{paramGroup}">
						<option th:value="early_termination_reason">Alasan
							Pelunasan Dipercepat</option>
						<option th:value="daya_file">File Daya</option>
						<option th:value="denom">Denom</option>
						<option th:value="prayer_promise">Doa dan Janji</option>
						<option th:value="not_attend_reason">Alasan Tidak Hadir</option>
						<option th:value="people_meet">Orang yang ditemui</option>
						<option th:value="outstanding_reason">Alasan Menunggak</option>
					</select> <span class="help-block"
						th:if="${#fields.hasErrors('paramGroup')}"
						th:errors="*{paramGroup}"></span>
				</div>
			</div>
			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('paramName')} ? ' has-error'"
				th:if="*{parameterId} == null">
				<label for="name" class="col-sm-4 control-label" th:inline="text">[[#{label.name}]]*</label>
				<div class="col-sm-8">
					<select class="combo-group" th:field="*{paramName}">
						<option th:value="alasan.pelunasan.dipercepat">Alasan
							Pelunasan Dipercepat</option>
						<option th:value="file.daya">File Daya</option>
						<option th:value="nilai.denom">Denom</option>
						<option th:value="doa">Doa</option>
						<option th:value="janji">Janji</option>
						<option th:value="alasan.tidak.hadir">Alasan Tidak Hadir</option>
						<option th:value="tipe.file.daya">Tipe File Daya</option>
						<option th:value="orang.yang.ditemui">Orang yang Ditemui</option>
						<option th:value="alasan.menunggak">Alasan Menunggak</option>
					</select> <span class="help-block" th:if="${#fields.hasErrors('paramName')}"
						th:errors="*{paramName}"></span>
				</div>
			</div>
			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('paramType')} ? ' has-error'"
				th:if="*{parameterId} == null">
				<label for="paramType" class="col-sm-4 control-label"
					th:inline="text">[[#{label.type}]]*</label>
				<div class="col-sm-8">
					<select class="combo-group" th:field="*{paramType}" id="selectType" onChange="javascript:optionValue(this);">
						<option th:value="String">String</option>
						<option th:value="Byte">Byte</option>
					</select> <span class="help-block" th:if="${#fields.hasErrors('paramType')}"
						th:errors="*{paramType}"></span>
				</div>
			</div>

			<div class="form-group"
				th:attrappend="class=${#fields.hasErrors('paramDescription')} ? ' has-error'">
				<label for="paramDescription" class="col-sm-4 control-label"
					th:inline="text">[[#{label.description}]]*</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="paramDescription"
						th:field="*{paramDescription}"
						th:attr="placeholder=#{placeholder.paramDescription},maxlength=*{maxLengthAddress}"></textarea>
					<span class="help-block"
						th:if="${#fields.hasErrors('paramDescription')}"
						th:errors="*{paramDescription}"></span>
				</div>
			</div>

			<div class="form-group" id="valueString"
				th:attrappend="class=${#fields.hasErrors('paramValueString')} ? ' has-error'"
				th:if="*{paramType} == String OR *{paramType} == null AND *{paramType} != Byte">
				<label for="paramValue" class="col-sm-4 control-label"
					th:inline="text">[[#{label.value}]]*</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="paramValue"
						th:field="*{paramValueString}"
						th:attr="placeholder=#{placeholder.paramValue},maxlength=*{maxLengthParamValue}" ></textarea>
					<span class="help-block"
						th:if="${#fields.hasErrors('paramValueString')}"
						th:errors="*{paramValueString}"></span>
				</div>
			</div>

			<div class="form-group" id="valueByte"
				th:attrappend="class=${#fields.hasErrors('paramValueByte')} ? ' has-error'"
				th:if="*{paramType} == Byte OR *{paramType} == null" >
				<label for="paramValueByte" class="col-sm-4 control-label"
					th:inline="text">[[#{label.value}]]*</label>
				<div class="col-sm-8" >
					<input type="file" th:id="${file}" name="file" th:value="${file}" th:field="*{paramValueByte}"/>
					<span class="help-block"
						th:if="${#fields.hasErrors('paramValueByte')}"
						th:errors="*{paramValueByte}"></span>
				</div>
			</div>

			<hr />
			<div class="form-group">
				<div class="col-xs-12 text-right">
					<button type="submit" class="btn btn-primary" th:inline="text">[[#{label.save}]]</button>
					<a th:href="@{/home/manage/prsparam}" class="btn btn-danger"
						role="button" th:inline="text">[[#{label.back}]]</a>
				</div>
			</div>
		</form>
		<script type="text/javascript" th:inline="javascript">
 /*<![CDATA[*/
        $(document).ready(function() {        	
           
            $(".combo-group").select2();            
            $('form').submit(function(){
                $(this).find('button').prop('disabled',true);
            });
            $('#selectType').on('change', function() {
                if ( this.value == 'String')
                {
                  $("#valueString").show();
                  $("#valueByte").hide();
                }
                else
                {
                  $("#valueByte").show();
                  $("#valueString").hide();
                }
              });
          });
        /*]]>*/
    </script>
	</div>
	<!-- JQUERY VALIDATE -->
	<!--<script th:src="@{/js/plugin/jquery-validate/jquery.validate.min.js}"></script>-->
	<!--<script th:src="@{/js/plugin/jquery-validate/additional-methods.min.js}"></script>-->
</div>
</html>